[user]
	name = Filippo Gurioli
	email = filippo.gurioli@studio.unibo.it
	signingkey = 47EC1F379BAC7FFB
[pull]
	default = current
	rebase = true
[commit]
	gpgsign = true
[status]
	short = true
	branch = true
	showStash = true
	showUntrackedFiles = all
[core]
	pager = delta
	compression = 9
	whitespace = error
	preloadindex = true
[advice]
	addEmptyPathspecs = false
	pushNonFastForward = false
	statusHints = false
[url "git@github.com:"]
	insteadOf = "gh:"
[url "git@github.com:FilippoGurioli/"]
	insteadOf = "fg:"
[init]
	defaultBranch = dev
[diff]
	context = 3
	renames = copies
	interHunkContext = 10
[pager]
	branch = false
	tag = false
[color "diff"]
	meta = black bold
	frag = magenta
	context = white
	whitespace = yellow reverse
	old = red
[interactive]
	singlekey = true
	diffFilter = delta --color-only
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[rebase]
	autoStash = true
	missingCommitsCheck = warn
[log]
	abbrevCommit = true
	graphColors = blue,yellow,cyan,magenta,green,red
[color "decorate"]
	HEAD = red
	branch = yellow
	tag = cyan
	remoteBranch = green
[color "branch"]
	current = magenta
	local = default
	remote = yellow
	upstream = green
	plain = blue
[branch]
	sort = -committerdate
[tag]
	sort = -taggerdate
[delta]
	navigate = true    # use n and N to move between diff sections
	side-by-side = true
