@import "themes/mocha.css"; 

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: @green;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 0px solid @overlay1;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @green;
    border-top: 2px solid @green;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @green;
    border-top: 2px solid @green;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-updates,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#image,
#scratchpad {
  margin: 2px 4px;
  padding: 0px 12px;
  background-color: @base;
  border-radius: 8px;
  color: @green;
}

#image {
    background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
