@import "themes/mocha.scss";

$primary-color: $green;
$secondary-color: $surface2;
$background-color: $base;
$primary-text-color: $text;
$secondary-text-color: $subtext1;
$text-font: 'JetBrainsMono Nerd Font', monospace;

$info-color: $green;
$warning-color: $yellow;
$error-color: $red;