@import "my-theme.scss"; 

* {
    font-family: $text-font;
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: $primary-color;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: $primary-color;
    border-top: $primary-color;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active {
    color: $primary-color;
    border-top: 2px solid $primary-color;
}

#workspaces button.urgent {
    background-color: $error-color;
}

#pulseaudio {
    margin-right: 0px;
}

#custom-updates,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#image,
#custom-distro-icon,
#scratchpad {
  margin: 0px 4px;
  padding: 0px 12px;
  background-color: rgba($background-color, 0.75);
  border-radius: 8px;
  color: $primary-color;
}

/*#backlight, #pulseaudio {
    TODO center the icons
}*/

#custom-distro-icon {
    background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
